body {
    margin: 0;
    font-family: "Roboto";
}

nav{
    max-height: 69px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    align-items: center;
}

nav div.logo {
    display: flex;
    flex-direction: row;
    color:white;
    gap:10px;
    align-items: center;
}

nav div.logo img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav a {
    text-decoration: none;
    background-color: #ea940a; 
    padding: 10px 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 10vh;
    font-weight: bold;
    margin-right: 1em;
}
/*Header*/

header section {
    width: 100%;
    background-image: url("img/background-header.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 6em 0;    
}

header section div {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 60px;
    padding: 10px;
    border:3px solid black;
    text-align: center;
    font-size: 40px
}

header section div > * {
    margin: 0;
    padding: 1.2rem;
}

header section h1 {
    font-size: 60px;
    color: #ea940a;
}



#header-description {
    width: 90vh;
    font-size: 32px;
    text-align: center;
}

header section a {
    text-decoration: none;
    font-size: 36px;
    background-color: #ea940a; 
    padding: 12px 7px 12px 7px;;
    border-radius: 16px;
    color: white;
}

/*Discoveries*/

section.discoveries {
    width: 100%;
    background-color:#1C1A16 ;
    text-align: center;
}


 h2 {
    font-size: 44px;
    font-weight: bold;
    color: #C4622D;
    padding-top: 1rem;
}

div.discoveries-heading {
    width: 80vw;
    margin-top: 1em;
    text-align: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

div.discoveries-heading  > *{
    margin: 0;
}

div.discoveries-heading p {
    color: rgb(211, 198, 169);
    font-size: 34px;
    word-wrap: normal;
    padding-bottom: 1em;
}

div.discoveries-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}


div.discoveries-info div{
    background-color: #2A2622;
    color: #F4E9D8;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    width: 16vw;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    padding: 1em;
    gap: 1rem;
}

div.discoveries-info div > * {
    margin: 0;
}

div.discoveries-info img {
    width:6rem ;
    height:6rem;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 0.5em;
}

p.description-heading {
    font-size: 28px;
    color: white;
}

/*  Numbers*/

section#numbers {
    width: 100%;
    background-color: rgba(12, 12, 12, 1);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

div.numbers-heading h3 {
    font-size: 36px;
    color: #C4622D;
}

div.numbers-heading p {
    font-size:28px;
}

div.numbers-info {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.numbers-info-p {
    color: #ea940a;
    font-size: 44px;
}

/*Categpries*/

#category {
    width: 100%;
    background-color: rgb(31, 31, 30);
    text-align: center;
    color: white;
}

div.category-heading {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}

div.category-heading > * {
    margin: 0;
}

div.category-heading h4 {
    padding-top: 2rem;
    font-size: 40px;
    color: #C4622D;
}

div.category-heading p {
    font-size:24px;
    padding-bottom: 2.5rem;
}

div.category-boxes {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}

div.box-config {
    background-color: rgba(7, 7, 7, 0.715);
    border-radius: 16px;
    text-align: center;
    width: 28vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-config-heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

p.name {
    font-size:24px ;
    font-weight: bold;
}

p.flying-wywern {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right, #ea6f0a ,#dda16f, #ea6f0a);
    padding: 0.8em 0.2em 0.2em 0.2em;
    border-radius: 15px;
}

p.leviathans {
    background-color: #0abaea;
    background-image: linear-gradient(to right, #0abaea, #7ad0e7 ,#0abaea);
    padding: 0.8em 0.2em 0.2em 0.2em;
    border-radius: 15px;
}

p.fanged-beasts {
    background-color:#8d21be;
    background-image: linear-gradient(to right, #8d21be, #a166bd ,#8d21be );
    padding: 0.8em 0.2em 0.2em 0.2em;
    border-radius: 15px;
}

section#category a {
    text-decoration: none;
    background-color: #1C1A16;
    width: auto;
    height: auto;
    color:white ;
}

/*Journey*/

#journey {
    width: 100%;
    background-color: rgb(42, 36, 25);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

#journey h5 {
    font-size: 40px;
    font-weight: bold;
}

#journey p {
    font-size: 24px;
    color: #96938f;
    width: 50%;
}

#journey a{
    text-decoration: none;
    font-size: 30px;
    background-color: #ea940a; 
    padding: 12px 7px;
    border-radius: 10px;
    color: white;
    align-items: center;
}

footer {
    width: 100%;
    height: 6vh;
    background-color: rgb(31, 31, 30);
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    gap: 5px;
    text-align: center;
}

footer img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}

footer div p {
    font-size: 24px;
}