    body {
    margin: 0;
    font-family: "Roboto";
    background-image:url(img/page/rathalos/background-rathalos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    height: 2em;
    min-height: 77px;
    top: 0;
    color: white;
    z-index: 1;
}

nav a{
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 0.5em 0 0.5em;
    margin-top: 0.5em;
}

nav a:hover {
    background-color: rgb(150, 78, 179);
    border-radius: 10px ;
    transform: scale(1.05);
}

nav img {
    width: 1.5em;
    height: 1.5em;
}

nav div.nav-info {
    float: right;
    display: flex;
    gap: 10px;
    margin-right: 15px;
    align-items: center;
    margin-top: 1em;
    font-size: 18px;
}

nav div.nav-info .badge-threat {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right,rgba(228, 138, 20, 0.5),rgba(219, 185, 135, 0.5),rgba(228, 125, 29, 0.5) );
    padding: 0.3em;
    border-radius: 15px;
}

nav div.nav-info .badge-element {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 5px;
    gap: 5px;
    border-radius: 15px;    
}
header section {
    height: 40%;
}
section.information {
    margin-top: 40%;
    min-height: 120vh;    
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 40px;
}

.side-bar{
    width: 14.5%;
    max-width: 600px;
    height: 45em;
    margin-left: 4%;
    margin-top: 2em;
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#ad5d5d ,#6A89A8,#7E6BAE, #C89092);
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    float: left;
}

.side-bar h2{
    font-size: 28px;
    border-bottom: 3px solid #D2A13A;
}

.side-bar img {
    width: 5em;
    height: 5em;
}

.side-bar-content {
    width: 90%;
    max-width: 300px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 0.5em;
}


.monster-info-row{
    display: flex;
    align-items: center;
}


.side-bar-content img {
    width: 2em;
    height: 2em;
}

.side-bar-content ul {
    margin: 0;
    padding-inline-start: 0;
}

.side-bar-content li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main{
    width: 74%;
    margin-left: 22%;
    margin-top: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.main-nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 1vw 3vw;
    background-color:#C4C9CC;
    border-radius: 10px;
}

.main-nav a.current {
    background-color:#60a0ca;
    border-radius: 10px;
    font-weight: bold;
}

.main-nav a:hover {
    background-color: #306ba1;
    transform: scale(1.05);
}


/* First sub-section */

.hr-table-wrapper {
    border: 3px solid #D2A13A;
    background: #000;
    width: 100%;
    max-width: 1400px;
}

table.hr-table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    font-size: 15px;
}

table.hr-table th,
table.hr-table td {
    padding: 12px 10px;
    border: 2px solid #3b3b3b;
}

table.hr-table th {
    background: #1c1c1c;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

table.hr-table td {
    background: #111;
    font-size: 20px;
    text-align: center;
}

table.hr-table td:first-child {
    text-align: left;
    padding-left: 20px;
}


section.damage-elements {
    display: flex;
    justify-content: space-between;
    color:white;
}

.damage-tabel {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 0;
    align-items: center;
    border: #D2A13A solid 3px;
}

.damage-tabel > * {
    color: white;
    border: #5e5c5c 3px solid;
    padding: 1em 2em 1em 2em;
    background-color:#1E1E1E;
    margin: 0;        
}

.damage-tabel img {
    width: 1em;
    height: 1em;
}

.element-tabel {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    align-items: center;
    border: #D2A13A solid 3px;
}

.element-tabel > * {
    color: white;
    border: #5e5c5c 3px solid;
    padding: 1em 2em 1em 2em;
    background-color:#1E1E1E;
    margin: 0;        
}

.element-tabel img {
    width: 1em;
    height: 1em;
}

/* Second sub-section */

section.aliments-img {
    display: flex;
    flex-direction: column;
    color:white;
    gap: 2em;
} 

.aliments-tabel{
    display: grid;
    grid-template-columns: 0.5fr 0.75fr 0.15fr;
    gap: 0;
    align-items: stretch;
    border: #D2A13A solid 3px;
    transform: scale(1); 
}

p.aliments-tabel-heading {
    text-align: center;
}

.aliments-tabel > * {
    color: white;
    border: #5e5c5c 3px solid;
    padding: 1em 2em 1em 2em;
    background-color:#1E1E1E;
    margin: 0;        
}

.aliments-tabel img {
    width: 3em;
    height: 3em;
    object-fit: contain;
    vertical-align: middle;
}

.aliments-tabel div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aliments-tabel div img {
    width: 2.5em;
    height: 2.5em;
}

.big {
    padding: 2.4em 3.5em;
}

section.aliments-img img.weak-points {
    border-radius: 1em;
}

@media (max-width: 1350px) {

    .side-bar {
        height: 65em;
    }

    .side-bar-content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 1015px) {

    .side-bar {
        height: 68em;
    }

    .side-bar-content {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
}