body {
    margin: 0;
    font-family: "Roboto";
}
 /*navbar*/
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.715);
    align-items: center;
}

nav div.logo {
    display: flex;
    flex-direction: row;
    color:white;
    gap:10px;
    align-items: center;
}

nav div.logo img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav a {
    text-decoration: none;
    background-color: #ea940a; 
    padding: 10px 5px 10px 5px;;
    border-radius: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 10vh;
    font-weight: bold;
}
/*Header*/

header section {
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("img/загружено.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;    
}

header section div {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 25%;
    padding: 10px;
    border:3px solid black;
    text-align: center;
    font-size: 40px
}

header section h1 {
    font-size: 60px;
    color: #ea940a;
}



#header-description {
    width: 90vh;
    font-size: 32px;
    text-align: center;

}

header section a {
    text-decoration: none;
    font-size: 36px;
    background-color: #ea940a; 
    padding: 12px 7px 12px 7px;;
    border-radius: 15%;
    color: white;
}

/*Discoveries*/

section.discoveries {
    width: 100%;
    height: 100vh;
    background-color:#1C1A16 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
}


 h2 {
    font-size: 44px;
    font-weight: bold;
    color: #C4622D;
}

div.discoveries-heading p {
    color: rgb(211, 198, 169);
    font-size: 34px;
    width: 100vh;
}

div.discoveries-info {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


div.discoveries-info div{
    background-color: #2A2622;
    color: #F4E9D8;
    font-size: 20px;
    
    border-radius: 25%;
    text-align: center;
    height: 40vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;

}

div.discoveries-info img {
    width:6vh ;
    height:6vh;
    background-color: aliceblue;
    border-radius: 40%;

}

p.description-heading {
    font-size: 28px;
    color: white;
}

/*  Numbers*/

section#numbers {
    width: 100%;
    height: 50vh;
    background-color: rgba(12, 12, 12, 1);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

div.numbers-heading h3 {
    font-size: 36px;
    color: #C4622D;
}

div.numbers-heading p {
    font-size:28px;
}

div.numbers-info {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.numbers-info-p {
    color: #ea940a;
    font-size: 44px;
}



