body {
    margin: 0;
    font-family: "Roboto";
    background-image:url(img/page/rathalos/background-rathalos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    height: 2em;
    min-height: 77px;
    top: 0;
    color: white;
    z-index: 1;
}

nav a{
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 0.5em 0 0.5em;
    margin-top: 0.5em;
}

nav a:hover {
    background-color: rgb(150, 78, 179);
    border-radius: 10px ;
    transform: scale(1.05);
}

nav img {
    width: 1.5em;
    height: 1.5em;
}

nav div.nav-info {
    float: right;
    display: flex;
    gap: 10px;
    margin-right: 15px;
    align-items: center;
    margin-top: 1em;
    font-size: 18px;
}

nav div.nav-info .badge-threat {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right,rgba(228, 138, 20, 0.5),rgba(219, 185, 135, 0.5),rgba(228, 125, 29, 0.5) );
    padding: 0.3em;
    border-radius: 15px;
}

nav div.nav-info .badge-element {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 5px;
    gap: 5px;
    border-radius: 15px;    
}
header section {
    height: 40%;
}
section.information {
    margin-top: 40%;  
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 40px;
}

 .side-bar{
    margin-left: 4%;
    margin-top: 2em;
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#ad5d5d ,#6A89A8,#7E6BAE, #C89092);
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    float: left;
    padding-bottom: 2em;
    top: 5em;
}

.side-bar h2{
    font-size: 28px;
    border-bottom: 3px solid #D2A13A;
}

.side-bar img {
    width: 5em;
    height: 5em;
    margin: auto;
}

.side-bar-content {
    width: 90%;
    max-width: 300px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 0.5em;
}


.monster-info-row{
    display: flex;
    align-items: center;
}


.side-bar-content img {
    width: 2em;
    height: 2em;
    margin: auto;
}

.side-bar-content ul {
    margin: 0;
    padding: 0;
}

.side-bar-content li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main{
    margin-left: 22%;
    margin-right: 2%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.main-nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 1vw 3vw;
    background-color:#C4C9CC;
    border-radius: 10px;
    margin: 3px;
    min-width: 132px;
    text-align: center;
}

.main-nav a.current {
    background-color:#60a0ca;
    border-radius: 10px;
    font-weight: bold;
}

.main-nav a:hover {
    background-color: #306ba1;
    transform: scale(1.05);
}

.side-bar-phone {
    width: 82%;
    display: none;
    flex-direction: column;
    background-color: #181717;
    border-radius: 10px;
    color: white;
    margin: auto;
    padding: 4em 0;
}

.side-bar-phone h2 {
    font-size: 28px;
    margin: 0;
}

.side-bar-phone-divider {
    display: flex;
    gap: 2rem;
}

.side-bar-phone-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.side-bar-phone-content img {
    width: 2em;
    height: 2em;
}

.side-bar-phone-content ul {
    margin: 0;
    padding: 0;
}

.side-bar-phone-content li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main .description {
    background-color: #1E1E1E;
    border-radius: 15px;
    color: rgb(204, 194, 168);
    gap: 0.5em;
    padding: 20px;
}

.main .description h2 {
    font-size: 30px;
    color: white;
}

.main .description p {
    font-size: 24px;
    width: 70vw;
    font-style: italic;
    text-wrap: wrap;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.location h2 {
    font-size: 30px;
    border-bottom: #D2A13A solid 3px;
}

div.gallery {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

div.gallery-item {
  border: 1px solid #D2A13A;
  width: 180px;
  background-color: #1E1E1E;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item p.desc {
  padding: 0.25em 1em;
  text-align: center;
  
}

@media (max-width: 1315px) {
    .side-bar-content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 1350px) and (max-width: 1439px) {

    .side-bar-content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

}

@media  (max-width: 1024px) {
    section.information {
        padding-bottom: 21vh;;
    }
    .main-nav {
        justify-content: space-around;
    }
    .side-bar-content {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
     }

    .main {
        width: 90%;
        margin-left: 5%;
    }

     .side-bar-phone {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .monster-icon {
        width: 12rem;
     }
}

@media (max-width:425px) {
    nav div.nav-info {
        flex-direction: column;
        font-size: medium;
        margin-top: 0;
        margin-right: 0;
        
    }
    
    .side-bar-phone-divider {
        flex-direction: column;
    }

    .main-nav  {
        justify-content: center;

    }
}