body {
    margin: 0;
    font-family: "Roboto";
    color: white;
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    height: 8vh;
    top: 0;
}

nav div {
    margin-left: 8px;
    margin-top: 10px;
    color:white;
    gap:10px;
}

nav img {
    float: left;
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav a{
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 14px;
}

nav input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
    font-size: 17px
}

section{
    margin-top: 8vh;
}


 .side-bar{
    width: 16%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#92B6D5 ,#6A89A8,#7E6BAE, #C89092, #D8AE47);
    gap: 10px;
}

.side-bar > * {
    margin-left: 15px;   
    margin-right: 15px;
}


.side-bar a {
    text-decoration: none;
    padding: 8px;
    
    color: whitesmoke;
}

.side-bar a.current {
    background-color: #8A6CFF;
    border-radius: 10px;
}

.side-bar a:hover {
    background-color: rgb(150, 78, 179);
}

.main{
    width: 84%;
    height: 100%;
    margin-left: 16%;
    background-color: black;
    display: grid;
    grid-template-columns:  auto auto auto auto;
}

.main div {
    background: rgb(94, 84, 80);
    color: white;
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
}

.block {
    background-color: #555B64;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block .block-up {
    position: relative;
}

.block .block-up p {
    position: absolute;
    background-color: #ea6f0a;
    background-image: linear-gradient(to right, #ea6f0a ,#dda16f, #ea6f0a);
    padding: 0.8em 0.2em 0.2em 0.2em;
    border-radius: 15%;
}

.block .block-up img {
    width: 100%;
    height: 100%;
    position: relative  ;
}

.block .block-up div img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;;
    position: absolute;
}

.block-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-mid p {
    font-size: 20px; 
}

.block-footer {
    display: flex;
    flex-direction: column;
}

div.block-footer .specie p {
    font-size: 18px;
    float: left;
}

div.block-footer .specie img {
    float: right;
    position: relative;
}

.card {
  width: 25%;
  height: 500px;
  background-color: #222;
  color: white;
  border-radius: 10px;

}

.card-image {
  position: relative;
}

.card-image .back {
  width: 100%;
}

.card-image .element {
    width: 0.5em;
    height: 0.5em;
}

/* The little labels on top of the image */
.badge {
  position: absolute;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

/* The top-right badge */
.badge-threat {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right,rgba(228, 138, 20, 0.5),rgba(235, 178, 94, 0.5),rgba(228, 125, 29, 0.5) );
    padding: 0.2em;
    border-radius: 15%;
    top: 0;
    right: 0;
    position: absolute;
}

/* The bottom-left badge */
.badge-element {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    position: absolute;
}

/* The text area below the image */
.card-content {
  padding: 10px;
}

.card-content h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.subtitle {
  font-size: 18px;
  margin-top: 5px;
}

.location {
    font-size: 16px;
    margin-top: 10px;
}

.location img {
    width: 0.5em;
    height: 0.5em; 
}

.tag {
    background-color: #333;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}