body {
    margin: 0;
    font-family: "Roboto";
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    height: 8vh;
    top: 0;
    color: white;
}

nav a{
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 0.5em 0 0.5em;
    margin-top: 0.5em;
   
}

nav a:hover {
    background-color: rgb(150, 78, 179);
    border-radius: 10px ;
}

nav img {
    width: 20px;
    height: 20px;
}

nav div.nav-info {
    float: right;
    display: flex;
    gap: 10px;
    margin-right: 15px;
    align-items: center;
    margin-top: 1em;
    font-size: 18px;
}

nav div.nav-info .badge-threat {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right,rgba(228, 138, 20, 0.5),rgba(219, 185, 135, 0.5),rgba(228, 125, 29, 0.5) );
    padding: 0.3em;
    border-radius: 15px;
}

nav div.nav-info .badge-element {
    background-color: rgba(0, 0, 0, 0.801);
    padding: 5px;
    gap: 5px;
    border-radius: 15px;    
}

section {
    margin-top: 8vh;
}

 .side-bar{
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#ad5d5d ,#6A89A8,#7E6BAE, #C89092);
    gap: 10px;
}

.main{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: #2a2b2c;
    display: grid;
    grid-template-columns:  auto auto auto auto;
}