body {
    margin: 0;
    font-family: "Roboto";
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.715);
    align-items: center;
}

nav div.logo {
    display: flex;
    flex-direction: row;
    color:white;
    gap:10px;
    align-items: center;
}

nav div.logo img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav a {
    text-decoration: none;
    background-color: #ea940a; 
    padding: 10px 5px 10px 5px;;
    border-radius: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 10vh;
    font-weight: bold;
}
header section {
    width: 100%;
    height: 900px;
    background-image: url("img/MH_Wilds_Environment_Art_-_Windward_Plains_Plenty.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

