body {
    margin: 0;
    font-family: "Roboto";
    color: white;
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    height: 8vh;
    top: 0;
}

nav div {
    margin-left: 8px;
    margin-top: 10px;
    color:white;
    gap:10px;
}

nav img {
    float: left;
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav p{
    float: left;
    font-size: 18px;
    font-weight: bold;
}

nav input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
    font-size: 17px
}

section{
    margin-top: 8vh;
}


 .side-bar{
    width: 20%;
    
    border-right: 2px solid black;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#92B6D5 ,#6A89A8,#7E6BAE, #C89092, #D8AE47);
}

.main{
    width: 80%;
    height: 550px;
    margin-left: 20%;
}

.side-bar a {
    text-decoration: none;
    padding: 8px;
    border: 3px solid red;
}

.main {
    background-color: black;
}