body {
    margin: 0;
    font-family: "Roboto";
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.715);
    align-items: center;
}

nav div.logo {
    display: flex;
    flex-direction: row;
    color:white;
    gap:10px;
    align-items: center;
}

nav div.logo img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav a {
    text-decoration: none;
    background-color: #ea940a; 
    padding: 10px 5px 10px 5px;;
    border-radius: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 10vh;
    font-weight: bold;
}
header section {
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("img/загружено.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

header section h1 {
    font-size: 60px;
}

p {
    font-size: 40px;
    color: white;
}

#intro {
    width: 110vh;
    font-size: 32px;
    text-align: center;

}

header section a {
    text-decoration: none;
    font-size: 36px;
    background-color: #ea940a; 
    padding: 12px 7px 12px 7px;;
    border-radius: 15%;
    color: white;
}