body {
    margin: 0;
    font-family: "Roboto";
    color: white;
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    height: 8vh;
    top: 0;
}

nav div {
    margin-left: 8px;
    margin-top: 10px;
    color:white;
    gap:10px;
}

nav img {
    float: left;
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}
nav a{
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 14px;
}

nav input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
    font-size: 17px
}

section{
    margin-top: 8vh;
}


 .side-bar{
    width: 16%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#92B6D5 ,#6A89A8,#7E6BAE, #C89092, #D8AE47);
    gap: 10px;
}

.side-bar > * {
    margin-left: 15px;   
    margin-right: 15px;
}


.side-bar a {
    text-decoration: none;
    padding: 8px;
    
    color: whitesmoke;
}

.side-bar a.current {
    background-color: #8A6CFF;
    border-radius: 10px;
}

.side-bar a:hover {
    background-color: rgb(150, 78, 179);
}

.main{
    width: 84%;
    height: 100%;
    margin-left: 16%;
    background-color: rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns:  auto auto auto auto;
}

.main div.card {
    background: rgba(94, 84, 80,1);
    color: white;
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
}


.card {
  width: 35vh;
  height: 50vh;
  background-color: #222;
  color: white;
  border-radius: 10px;
  padding: 10px;

}

.card-image {
  position: relative;
}

.card-image .back {
  width: 100%;
}

.card-image .element {
    width: 20px;
    height: 20px;
}

.badge {
  position: absolute;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.badge-threat {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right,rgba(228, 138, 20, 0.5),rgba(219, 185, 135, 0.5),rgba(228, 125, 29, 0.5) );
    padding: 0.3em;
    border-radius: 5px;
    top: 0;
    right: 0;
    position: absolute;
}

.badge-element {
    background-color: rgba(0, 0, 0, 0.801);
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    padding: 5px;
    gap: 5px;
}

.card-content {
  padding: 10px;
}

.card-content h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.subtitle {
  font-size: 18px;
  margin-top: 5px;
}

.location {
    font-size: 16px; 
    display: flex;
}

.location img {
    width: 20px;
    height: 20px; 
}

.tag {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tag img {
    width: 20px;
    height: 20px;
    margin-top: 1em;
}